@font-face{
  font-family: odin-font;
  src: url("Norse-Bold.otf");
}

html {
  display: table;
  margin: auto;
}

body {
  display: flex;
  flex-direction: row;
  max-height: 600px;
  max-width: 1200px;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
}

.left-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  min-height: 600px;
  min-width: 400px;
  background-image: url("greenbackground.avif");
  background-repeat: no-repeat;
  background-size: contain;
}

.logo {
  background-color: rgba(0, 0, 0, 0.368);

  width: 400px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logoimage img {
  height: 100px;
}

.logotext {
  font-family: odin-font;
  font-size: 70px;
  color: whitesmoke;
}

.left-section .footer {
  color: whitesmoke;
  font-size: 12px;
  padding-bottom: 10px;
}

.right-section-form {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.description{
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bolder;
}

.data{
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;


  box-shadow: 0px 5px 5px 0px #D2D4DB;
}

.data-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 7px;
}

.data-row-field{
  align-items: flex-start;

  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.data-row-field input{
  width: 230px;
  height: 20px;
  border: 1px solid #E5E7EB;
  border-radius: 3px;
}

.data-row-field input:invalid{
  border-color:  #ae3029;
}

.data-row-field label{
  font-size: 10px;
  font-weight: bold;
  text-align: left;
  margin-top: 7px;
  padding-right: 20px;
}

.actions{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

button{
  background-color: #596D48;
  height: 30px;;
  width: 160px;
  border-radius: 5px;
  border-style: none;
  color: whitesmoke;
}
